<div class="login-container">
  <div class="login-form-container">
    <h1>Log In</h1>
    {{#if errorMessage}}
      <p class="error-cred">{{errorMessage}}</p>
    {{/if}}
    <p class="small-p">Need an LOOFOMU-account? <a href="/signup">Create one here!</a></p>
    <form class="login-form" action="/login" method="POST">
      <div class="form-group col-12">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted">We'll never share
          your email with anyone else.</small>
      </div>
      <div class="form-group col-12">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-custom col-12">Submit</button>
    </form>
  </div>
  <object class="log-hero" data="/images/music file2-06.svg" > </object>
</div>