<div class="hero">
<div class="subhero1">
    <h1>Are you looking for fellow musicians?</h1>
    <h3>Join our community and get in touch with your futures band colleagues!</h3>
    <div class="btn-section">
        <div class="loofomu-btn"><a href="/posts/?status=Band">Show All Bands</a></div>
        <div class="loofoba-btn"><a href="/posts/?status=Musician">Show All Musicians</a></div>
    </div>
</div>

        <object id="hero-index" data="/images/music-file2-08.svg" > </object>
</div>

