<div class="hero">
<div class="subhero1">
    <h1>Are you looking for fellow Musicians?</h1>
    <h3>Join our community and get in touch with your futures band colleagues!</h3>
    <div class="btn-section">
        <div class="loofomu-btn"><a href="/posts/?status=musician">Show All Bands</a></div>
        <div class="loofoba-btn"><a href="/posts/?status=band">Show All Musicians</a></div>
    </div>
</div>
    <div class="subhero2">
        <img id="hero-img" src="/images/image-hero-desktop.png" alt="">
    </div>
</div>

