<div class="create-container">
  <form class="create-form" action="/posts/create" method="POST" enctype="multipart/form-data">
    <h1>Create a post</h1>
    <label>
      Looking for a band or musician?
      <select name="status">
        <option value="Musician">Musician</option>
        <option value="Band">Band</option>
      </select>
    </label>
    <label>
      Title:
      <input type="text" name="title" placeholder="Something like: Guitar player looking for punk band!" required />
    </label>
    <label>
      Your name / name of your band
      <input type="text" name="name" required />
    </label>
    <label>
      Instrument you are looking for / You play
      <input type="text" name="instrument" placeholder="Guitar, Drums, etc." required />
    </label>
      <label for="genre">Genre:
        <select name="genre" id="genre" required>
          <option disabled selected value> -- Choose your main Genre: -- </option>
          <option value="Rock">Rock</option>
          <option value="Pop">Pop</option>
          <option value="Classic">Classic</option>
          <option value="Punk">Punk</option>
          <option value="Metal">Metal</option>
          <option value="Alternative">Alternative</option>
          <option value="Electronic">Electronic</option>
          <option value="Hip Hop">Hip Hop</option>
          <option value="R'n'B">R'n'B</option>
          <option value="Folk">Folk</option>
        </select>
      </label>
        <label for="experience">Choose your level of Experience
          <select name="experience" id="experience" required>
            <option disabled selected value> -- your Experience: -- </option>
            <option value="anyexp">Any experience</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="moderate">Moderate</option>
            <option value="advanced">Advanced</option>
            <option value="expert">Expert</option>
          </select>
        </label>
        <label>
          Describe what you are looking for :
          <textarea type="text" name="description" cols="30" rows="10" required></textarea>
        </label>
        <label>
          Your location:
          <input type="text" name="location" required />
        </label>
        <label for="file-upload" class="upload-field">
          Upload an Image
          <input id="file-upload" type="file" name="image" value="public/images/noImageAvailable.png" />
        </label>
        <button class="submit-btn" type="submit">Submit</button>
  </form>
  <img class="create-image" src="/images/music file2-03.svg" alt="">
</div>